extends layout

block content

	.row
		.col-sm-12
			.page-header
				h1 Directory

	.row &nbsp;

	.row
		.col-sm-12
			.table-responsive
					table.table.table-striped.table-bordered.table-hover.data-table
						thead
							tr
								th(align="right") First Name
								th(align="left") Last Name
								th Ext
								th Actions
						tbody
							each user in userMap
								tr
									td(align="right") #{user.firstName}
									td(align="left") #{user.lastName}
									td(align="center") #{user.extension}
									td(align="center").user-table-actions
										a.btn.btn-primary.btn-xs(href="mailto:#{user.email}")
											span.icon-envelope
										a.btn.btn-info.btn-xs(href="/edituser/#{user.email}")
											span.icon-edit
										a.btn.btn-danger.btn-xs.delete-user-btn(href="/deleteuser/#{user.email}")
											span.icon-trash

	.row
		.col-sm-12.text-center
			p
				a.btn.btn-success.btn-sm(href="/newuser")
					span.icon-plus &nbsp; Add User

	script(src="/plugins/datatables/js/jquery.dataTables.js")
	link(rel='stylesheet', href='/bootstrap/datatables/dataTables.bootstrap.css')
	script(src="/bootstrap/datatables/dataTables.bootstrap.js")
	script.
		$(function(){
			// Individual user controls on mouse over
			$('.directory-item').mouseenter(function(){
				$(this).find('.controls-wrapper').stop().fadeIn(200);
			}).mouseleave(function(){
				$(this).find('.controls-wrapper').stop().fadeOut(200);
			});
			// Confirm DELETE user button
			$('.delete-user-btn').on("click", function(e){
				e.preventDefault();
				var cnfrm = confirm('Are you sure you want to permantly delete this person?');
				if(cnfrm){
					window.location = $(this).attr('href');
				} else {
					alert("Phew! That was close.")
				}
			});
			// Data table plugin
			$('.data-table').dataTable({
				// "sScrollY": "385px",
				// "bPaginate": false,
				// "bScrollCollapse": true,
				"aaSorting": [[ 2, "asc" ]]
			});
			$('.pagination').addClass('pagination-sm');
			$('.dataTables_wrapper').find('select').addClass('form-control');
			$('.dataTables_filter input').attr('placeholder','Search').addClass('form-control');
		});