extends layout

block content
	.row
		.col-sm-12
			.page-header
				h1 Profile
				
	.row
		.col-sm-12
			p 
				strong Name: 
				| #{user.firstName} #{user.lastName}
			p 
				strong Position: 
				| #{user.position}
			p 
				strong Email: 
				| #{user.email}@kabookaboo.com
			p 
				strong Extenstion: 
				| #{user.extension}